// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
@import "vendors/simplebar";

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
@import "custom";

.chen-oto {
    background-image: url("../assets/images/otodam.jpg");
    background-size: cover;
    background-position: center;
}

.custom-button {
    background-color: #DB3022;
    border-color: #DB3022;
    /* Màu nền tùy chỉnh */
    color: white;
    /* Màu chữ */
}

.custom-button:hover {
    background-color: #DB3022;
    border-color: #DB3022;
    color: white;
    /* Màu nền khi hover */
}